/*solo */
.bg{
	background: #f5f5f5;
}
#content{
	max-width: 1024px;
	margin: 0 auto;
	margin-top: 8px;
	background-color: white;
	padding: 10px;
	overflow-y: auto;
}
.contentMain{
	width:100%;
	margin: 0 auto;
	position: relative;
}
.contentMain .title{
	width: 100%;
	height: 52px;
    position: relative;
	line-height:52px;
	text-align: center;
	font-size: 52px;
	border-bottom: 1px dashed #ebac3f;
	color: #999999;
	background-color: white;
}
.contentMain .title span{
    display: inline-block;
}
#labNodeName{
	font-size: 18px;
}
.bottom{
	height: 88px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.bottomBar{
	width: 100%;;
	max-width: 1004px;
	height: 100%;
	position: relative;
	margin: 0 auto;
	border-top: solid 1px #bbbbbb;
}
.btnPrevDisable{
	cursor: pointer;
	position: absolute;
	left: 0px;
	top: 10px;
	width: 50%;
	max-width: 500px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	font-size: 16px;
	background-color: #d9e2e2;
}
.btnPrevDisable img{
	float: left;
	margin-left: 22px;
	margin-top: 15px;
}
.btnPrev{
	cursor: pointer;
	position: absolute;
	left: 0px;
	top: 10px;
	width: 50%;
	max-width: 500px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	font-size: 16px;
	background-color: #21bebe;
}
.btnPrev img{
	float: left;
	margin-left: 22px;
	margin-top: 15px;
}
.btnNext{
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: 10px;
	width: 50%;
	max-width: 500px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	font-size: 16px;
	background-color: #21bebe;
}
.btnNext img{
	float: right;
	margin-right: 22px;
	margin-top: 15px;
}
.btnSubmit{
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: 10px;
	width: 50%;
	max-width: 500px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	font-size: 16px;
	background-color: #f9bf3a;
}
.btnSubmit img{
	float: right;
	margin-right: 22px;
	margin-top: 9px;
}
.btnPrev:hover{
	background-color: #8fc13e;
} 
.btnPrev:active{
	background-color: #80b32e;
}
.btnNext:hover{
	background-color: #8fc13e;
} 
.btnNext:active{
	background-color: #80b32e;
}
.btnSubmit:hover{
	background-color: #f7b620;
}
.btnSubmit:active{
	background-color: #e7a300;
}
#indicatorContainer{
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border-radius: 50%;
	margin-top: -16px;
}
#lbPage{
	width: 88px;
	height: 88px;
	margin: 0 auto;
	border-radius: 50%;
	margin-top: -96px;
	background-color: white;
	text-align: center;
	line-height: 100px;
	font-size: 18px;
	color: #5d6363;
}
#lbCur{
	color: #96c745;
}
