/*solo */
.bg{
	background: #ffffff;
}
#shaddow {
	position: absolute;
	top: 44px;
	left: 0px;
	right: 0px;
	height: 5px;
	background: url(../images/shaddow.png) repeat;
	z-index: 2;
}
.head{
	width: 100%;
	height: 43px;
	background: #1fb3ae;
	border-bottom: 1px solid #18a49f;
	
}
.head #logo{
	display: block;
	width: 138px;
	height: 44px;
	margin: 0 auto;
	background:url(../images/logoUpdate.png) no-repeat 0px 4px; 
}
.head #closeBtn{
	display: block;
	width: 143px;
	height: 44px;
	position: absolute;
	left: 0px;
	top: 0px;
	background: url(../images/btnCloseAppUpdate.png) no-repeat;
}
.head #closeBtn:hover{
	background: url(../images/btnCloseAppUpdate1.png) no-repeat;
}
.head #closeBtn:active{
	background: url(../images/btnCloseAppUpdate2.png) no-repeat;
}
.content{
	width:100%;
	margin: 0 auto;
	background: #fff;
	margin-top: 44px;
}
.content .title{
	width: 100%;
	height: 52px;
    position: relative;
	line-height:52px;
	text-align: center;
	font-size: 52px;
	border-bottom: 1px dashed #ebac3f;
	color: #999999;
}
.content .title span{
    display: inline-block;
}
#labNodeName{
	font-size: 18px;
}
.content .main{
    width: 970px;
    height: 567px;
    margin: 0px auto 0px auto;
}
.content .main .mainFrame{
	border-left: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	height: 559px;
    background-color: #edf2f3;
    padding: 4px;
}
#wronginfo{
	height: 52px;
	line-height: 52px;
	/*float: right;*/
	font-family: "微软雅黑";
	font-size: 18px;
	font-weight: 800;
	color: #675a81;
	position: absolute;
	top: 0px;
	right: 0px;
}
#wronginfo img{
	margin: 0px 5px 0px 20px;
	vertical-align: text-top;
}
#wronginfo .correct{
	color: #96c743;
}
#wronginfo .wrong{
	color: #ff5d61;
}
#wronginfo a{
	display: inline-block;
	height: 28px;
	width: 100px;
	border-radius: 28px;
	text-align: center;
	line-height: 28px;
	margin-left: 30px;
	background: #ff5d61;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #FFFFFF;
	cursor: pointer;
}
#wronginfo a:hover{
	background: #ff7b7e;
}
#wronginfo a:active{
	background: #ed474b;
}
#wrongDiv{
  width: 1024px;
  margin: 0 auto;
  height: 500px;
  text-align: center;
  font-size: 16px;
  color: #999999;
}
